<!DOCTYPE html>
<html>
<head>
	<title>RUMAH PROJECT</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <?php echo Html::style('css/bootstrap.min.css'); ?>

	<?php echo Html::style('css/font-awesome.min.css'); ?>

	<?php echo Html::style('css/styles.css'); ?>


	<?php echo Html::script('js/jquery-1.12.1.min.js'); ?>

  <?php echo Html::script('js/bootstrap.min.js'); ?>

</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="wrap">
				<div id="menu-top">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
        <div id="header-right">
          <div id="form-search">
            <?php echo Form::text('search', null, ['id'=>'search', 'placeholder'=>'search...']); ?>
            <span class="icon"><i class="fa fa-search"></i></span>
          </div>
        </div>
			</div>
		</nav>
    <div id="carousel-header" class="carousel slide carousel-fade row" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <div class="slide1"></div>
        </div>
        <div class="item">
          <div class="slide2"></div>
        </div>
        <div class="item">
          <div class="slide3"></div>
        </div>
      </div>
    </div>
    <div id="left-menu" class="row col-lg-3">
      <div id="news">
        <div class="left-menu-header">News</div>
        <div class="left-menu-body">
          <div class="news-title">BLABLA</div>
          <div class="news-description">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
          <div class="news-title">BLABLA</div>
          <div class="news-description">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </div>
      </div>
    </div>
	</div>
</body>
</html>